.about-page{
    margin: 2rem auto;
    width: 80%;
    h2{
        text-align: center;
        text-transform: uppercase;
        font-size: 1.4rem;
        border-bottom: 2px solid $accent-color;
        .about-page-logo{
            font-weight: map-get($font-weight, bold);
            font-style: italic;
    }
    }
    p{
        margin-top: 2rem;
        line-height: 1.5;
    }
}