// banner
.banner-container img {
    display: block;
    width: 100%;
    height: 450px;
    object-fit: cover;
    // object-position: -50%;
    opacity: 70%;
    position: relative;
}
.banner-info-container{
    max-width: 100%;
    margin: 1rem;
    position: absolute;
    color: #fff;
    top: 16rem;
    // left: 3rem;
    text-overflow: ellipsis;
    h2{
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: .8rem;

    }
    h3{
        font-size: 1.5rem;
    }


}