// Header Component

header {
	width: 100%;
	display: flex;
	align-items: center; // or align content?
	justify-content: space-between;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 2;
	background-color: black;

	h1 {
		text-transform: uppercase;
	}

	a {
		color: $font-color;
		text-decoration: none;
		padding-left: 1rem;
	}

	@media (min-width: map-get($breakpoint, tablet)) {
		ul {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
		}

		a {
			margin-right: 1rem;
		}
	}
}


.site-navigation {
	ul {
		display: none;
		padding-bottom: 1rem;
		margin: 0;
		position: absolute;
		top: 4rem;
		left: 0;
		right: 0;
		z-index: 1;
		background-color: black;
		list-style: none;
		text-align: center;
	}

	a {
		display: block;
		padding: 1rem;
		font-family: 'Open Sans', Arial, Helvetica, sans-serif;
		font-size: 1rem;
		text-decoration: none;
		color: white;
	}
}

.site-navigation.toggled ul {
	display: block;
}

.menu-toggle {
	display: block;
	background-color: transparent;
	border: 0;
	padding: 1rem;
	fill: white;
}

@media (min-width: map-get($breakpoint, desktop)) {
	.menu-toggle {
		display: none;
	}

	.site-navigation {
		flex: 1 1 auto;
	}

	.site-navigation ul,
	.site-navigation.toggled ul {
		display: flex;
		justify-content: flex-end;
		position: relative;
		top: 0;
	}

	.site-navigation a {
		line-height: 4.5rem; /* Matches the height of the .site-header */
		padding: 0 1rem;
	}
}
