// Movie Card Component

.movie-card {
	position: relative;
	margin: 0 1.5rem 1.5rem;
}

.movie-poster {
	display: block;

	img {
		width: 100%;
		border-radius: $movie-card-radius;
	}
}

.movie-info {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	border-radius: $movie-card-radius;
	color: $font-color;

	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;

	h3,
	p,
	a,
	div {
		display: none;
	}

	&:hover {
		background-color: rgba(0, 0, 0, 0.5);

		h3 {
			display: block;
			margin-bottom: 1rem;
			font-size: 1.5rem;
			padding: 0.5rem 2rem;
			font-size: 2rem;
		}

		p {
			display: block;
			margin-bottom: 1rem;
			font-size: 1.5rem;
			padding: 0.5rem 2rem;
		}

		a {
			display: block;
			width: 20%;
			margin-left: 1.5rem;
			margin-bottom: 1rem;
			padding: 0.5rem;
			background-color: $accent-color;
			color: white;
			text-decoration: none;
			border-radius: 50px;
			box-shadow: 0px 3px 5px black;
		}

		div {
			display: block;
			margin-bottom: 1rem;
			font-size: 1.5rem;
			padding: 0.5rem 2rem;
		}
	}
}
