// Movie Component

.movies-container {
	margin: 0 auto;
	max-width: 1080px;

	// Can switch media query breakpoint between tablet-small and tablet-small
	// To see which looks better
	@media (min-width: map-get($breakpoint, tablet-large)) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1rem;
	}

	@media (min-width: map-get($breakpoint, desktop)) {
		padding: 1rem;
		grid-template-columns: repeat(3, 1fr);
		gap: 1rem;
	}
}
