// Movie Component

// @media (min-width: map-get($breakpoint, tablet)) {}


// @media (min-width: map-get($breakpoint, desktop)) {}

// banner
.banner-container{
    width: 100%;
}

.movie-posters {

    padding: em(16);
    
    img {
        margin-bottom: em(8);
        width: 100%;
        border-radius: em(8);
    }
}