// Movie Card Component
.movie-poster {
	img {
		width: 100%;
		border-radius: 10px;
	}
	// position: relative;
	top: 0;
	right: 0;
	padding: 1rem 1rem 0 1rem;
}

// .add-favorite {
//     img {
//     position: relative;
//     top: 80px;
//     right: -280px;
//     z-index: 100;
//     }
// }

.movie-info {
	position: absolute;
	top: 0;
	left: 30px;
	opacity: 80%;
	color: $font-color;
	width: 100%;
	height: 100%;
	background: black;
	// color: white;
	// display: flex;
	// flex-direction: column;
	// align-items: center;
	// justify-content: center;
	// opacity: 0;
	// transition: opacity 0.25s;
	// border-radius: 20px;
}

.movie-card {
	position: relative;
}

@media (min-width: map-get($breakpoint, tablet)) {
	.movie-poster {
		img {
			width: 100%;
		}
	}
}
// @media (min-width: map-get($breakpoint, desktop)) {}
