// Nav Sort

.nav-sort {
	padding: 2rem 1rem;

	ul {
		display: flex;
		justify-content: space-evenly;
	}

	a {
		padding: 0.5rem;
		display: block;
		color: white;
		font-size: 1.25rem;
		font-weight: map-get($font-weight, regular);
		text-decoration: none;
		// background-color: $accent-color;
		// border-radius: 50px;
		// box-shadow: 0px 3px 5px black;

		&:active,
		&:hover {
			color: $accent-color;
			font-weight: map-get($font-weight, bold);
			font-style: italic;
		}

		@media (min-width: map-get($breakpoint, mobile)) {
			font-size: 1.5rem;
		}

		@media (min-width: map-get($breakpoint, tablet)) {
			font-size: 1.75rem;
		}

		@media (min-width: map-get($breakpoint, desktop)) {
			font-size: 2rem;
		}
	}
}
