// Nav Sort

nav {

    padding: 2rem 1rem;

    ul {
        display: flex;
        justify-content: space-evenly;
    }

    a {
        padding: 0.5rem;
        display: block;
        background-color: $accent-color;
        color: white;
        font-size: 0.75rem;
        text-decoration: none;
        border-radius: 20px;
    }
}