// Hamburger Menu

.site-navigation {
	ul {
		display: none;
		padding-bottom: 1rem;
		margin: 0;
		position: absolute;
		top: 4rem;
		left: 0;
		right: 0;
		z-index: 1;
		background-color: black;
		list-style: none;
		text-align: center;
	}

	a {
		display: block;
		padding: 1rem;
		font-size: 1rem;
		text-decoration: none;
		color: $font-color;
        font-weight: map-get($font-weight, semibold);
	}
}

.site-navigation.toggled ul {
	display: block;
}

.menu-toggle {
	display: block;
	background-color: transparent;
	border: 0;
	padding: 1rem;
	fill: $font-color;
}

@media (min-width: map-get($breakpoint, desktop)) {
	.menu-toggle {
		display: none;
	}

	.site-navigation {
		flex: 1 1 auto;
	}

	.site-navigation ul,
	.site-navigation.toggled ul {
		display: flex;
		justify-content: flex-end;
		position: relative;
		top: 0;
	}

	.site-navigation a {
		line-height: 4.5rem; /* Matches the height of the .site-header */
		padding: 0 1rem;
	}
}