// Single Movie Component
.single-movie-content {
	background-color: $background-color;
	#single-movie-poster {
		display: block;
		max-width: 100%;
		border-radius: $movie-card-radius;
	}
	.single-movie-info-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	#single-movie-remove-favorite {
		margin-left: 1rem;
	}
}

.single-movie-info {
	color: #fff;
	margin: 1.4rem;
	margin-bottom: 5rem;
	#single-movie-title {
		font-size: 1.4rem;
		font-weight: bold;
		margin: 1.5rem 0;
	}
	#single-movie-release-date {
		padding: 1rem 0;
		font-size: 0.9rem;
	}
	#single-movie-overview {
		line-height: 1.5;
		margin: 1rem 0;
		font-size: 0.8rem;
		margin-bottom: 3rem;
	}
	#single-movie-watch-now-btn-container {
		display: flex;
	}
	#single-movie-watch-now-btn {
		color: $font-color;
		font-weight: 600;
		letter-spacing: 1px;
		text-decoration: none;
		background-color: $accent-color;
		padding: 0.5rem 2.2rem;
		border-radius: $button-radius;
		box-shadow: 0px 3px 5px black;
	}

	.single-movie-rating {
		display: flex;
		align-items: center;
		#single-movie-rate-icon {
			background-color: #fff;
			margin: 0.2rem;
			border-radius: 50%;
			border: 3px solid black;
			margin-right: 0.5rem;
		}
	}
}

@media (min-width: map-get($breakpoint, tablet-small)) {
	.single-movie-content {
		margin-bottom: 5em;
		#single-movie-poster {
			max-width: 50%;
			margin: 3rem auto;
		}

		.single-movie-info-header {
			justify-content: space-around;
			align-items: center;
			width: 50%;
			margin: 0 auto;
		}
	}
	.single-movie-info {
		text-align: center;
		#single-movie-title {
			width: 40%;
			margin-top: 2rem;
			margin-right: auto;
			margin-left: auto;
			font-size: 1.7rem;
		}
		#single-movie-release-date {
			font-size: 1.2rem;
		}

		#single-movie-overview {
			width: 70%;
			margin: 2rem auto;
			text-align: left;
			font-size: 1.2rem;
		}

		#single-movie-watch-now-btn {
			margin: 0 auto;
		}
		.single-movie-rating {
			width: 10%;
			text-align: center;
			margin: 0 auto;
			font-size: 1.2rem;
		}
	}
}

@media (min-width: 800px) {
	.single-movie {
		background-size: cover;
		height: auto;
	}
	.single-movie-container {
		background-color: rgba(0, 0, 0, 0.5);
		padding-bottom: 5rem;
		padding-top: 5rem;
	}

	.single-movie-content {
		display: flex;
		width: 80%;
		background-color: rgba(255, 255, 255, 0);
		background-size: contain;
		justify-content: center;
		align-items: center;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 0;

		#single-movie-poster {
			margin-right: 4rem;
			margin-top: 0;
			// SEE if this width fits bigger than before
			width: 70%;
		}

		.single-movie-info-header {
			margin: 0;
			width: 80%;
			justify-content: space-between;
		}

		.single-movie-info {
			text-align: left;
			margin: 0;
			width: 80%;

			#single-movie-title {
				width: 79%;
				font-size: 2rem;
				margin-top: 0;
				margin-left: 0;
			}
			#single-movie-overview {
				width: 90%;
				margin: 2rem 0;
				font-size: 1rem;
			}
			.single-movie-rating {
				width: 10%;
				font-size: 2rem;
				margin: 0;
				margin-top: 1rem;
			}
		}
	}
}
@media (min-width: map-get($breakpoint, desktop)) {
	.single-movie-container {
		margin-top: 0rem;
		background-color: rgba(0, 0, 0, 0.5);
	}

	.single-movie-content {
		width: 90%;
		background-size: contain;

		#single-movie-poster {
			margin-right: 4rem;
			margin-top: 0;
			width: 40%;
		}

		.single-movie-info-header {
			margin: 0;
			width: 80%;
			justify-content: space-between;
		}

		.single-movie-info {
			text-align: left;
			margin: 0;

			#single-movie-title {
				width: 79%;
				font-size: 2.4rem;
				margin-top: 0;
				margin-left: 0;
			}
			#single-movie-overview {
				width: 85%;
				margin: 2rem 0;
				font-size: 1.5rem;
				margin-bottom: 3rem;
			}
			#single-movie-release-date {
				font-size: 1.5rem;
			}
			#single-movie-fav-btn {
				width: 50px;
			}
			#single-movie-watch-now-btn {
				font-size: 1.5rem;
				padding: 1.2rem 3.4rem;
			}
		}
	}
}
